/* Base font family */
* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
}

/* Overlay styling */
.overlay {
    position: fixed;
    top: 25px;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100% - 25px);
    background-color: black;
    z-index: 100;
    pointer-events: none;
    opacity: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Centered White Box */
.centered-box {
    position: fixed;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    width: 65%;
    max-width: 1250px;
    height: 88%;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1010;
    padding: 10px;
    margin-left: 118px;
    margin-top: 15px;
}

/* Outer Container */
.outer-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

/* Top Container */
.top-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 98.45%;
    height: 29%;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 6px;
}

/* Title (h2) */
.top-container h2 {
    margin: 0;
    color: Black;
    font-size: 18px;
    text-align: left;
    width: 80%;
}

/* Divider */
.divider {
    width: 100%;
    height: 2px;
    background-color: Black;
    margin-top: 10px;
}

/* Middle Containers */
.middle-container {
    width: 100%;
    height: 550%;
    display: flex;
    gap: 10px;
    box-sizing: border-box;
    background-color: white;
}

/* Left Container */
.left-container {
    width: 30%;
    background-color: white;
    border-radius: 4px;
    margin-left: 11px;
    margin-right: 16px;
}

/* Center Container */
.center-container {
    width: 10%;
    background-color: white;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Center Container v2 */
.center-containerv2 {
    width: 10%;
    background-color: white;
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
}

/* Right Container */
.right-container {
    width: 30%;
    background-color: white;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 25px;
}

/* Close Circle Button */
.close-circle {
    position: absolute;
    top: -18px;
    right: -17px;
    width: 35px;
    height: 35px;
    background-color: #F95A5A;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 12020;
    box-sizing: border-box;
}

.close-circle:hover {
    background-color: grey;
}

/* Top Row */
.top-row {
    display: flex;
    flex: 3;
    width: 100%;
    background-color: white;
}

/* Top Row v2 */
.top-rowv2 {
    display: flex;
    flex-direction: column;
    flex: 3;
    width: 920%;
    background-color: white;
    gap: 10px;
}

/* Top Row 2 */
.top-row2 {
    display: flex;
    flex: 3;
    width: 100%;
    background-color: white;
    height: 10%;
}

/* Box Left */
.box-left {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 14px;
    box-sizing: border-box;
}

/* Box Left v2 */
.box-leftv2 {
    flex: none;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 0;
    box-sizing: border-box;
}

/* Box Right */
.box-right {
    flex: 1;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 14px;
    box-sizing: border-box;
}

/* Box Right v2 */
.box-rightv2 {
    flex: none;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 0;
    box-sizing: border-box;
}

/* Box Right 2 */
.box-right2 {
    flex: 1;
    height: 685px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 14px;
    box-sizing: border-box;
}

/* Box Bottom */
.box-bottom {
    flex: 7;
    width: 98.5%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
    margin-top: 15px;
}

.image-class {
    max-width: 95%;
    height: auto;
    margin: 0px auto;
    display: block;
    border: none;
    margin-top: 25px;
}

.image-class2 {
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    display: block;
    border: none;
    border-radius: 1.5%;
}

.image1 {
    max-width: 50%;
    height: auto;
    margin: 40px auto 0 auto;
    display: block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.image1:hover {
    content: url('invoices-hoover.png');
    transform: scale(1.05);
}

.table-inv {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

.document-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.document-table td {
    padding: 8px 5px;
    text-align: left;
    vertical-align: middle;
}

.document-table tr {
    border-bottom: 1px solid #ddd;
}

.document-table td:nth-child(1) {
    font-weight: bold;
}

.document-table td:last-child {
    text-align: right;
}

.document-table .view-button,
.document-table .request-button {
    background-color: #32B8CD;
    color: white;
    border: none;
    padding: 5px 0;
    width: 80px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.document-table .view-button:hover,
.document-table .request-button:hover {
    background-color: #575757;
}

.document-table .missing-text {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #F95A5A;
    font-weight: bold;
}

.document-table .missing-text .icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #F95A5A;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.document-table tr:hover {
    background-color: #f9f9f9;
}

/* Navigation */
.nav-bar-window {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
}

.navigation-buttons {
    display: flex;
    gap: 5px;
    color: white;
    justify-content: center;
    align-items: center;
}

.nav-button-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32B8CD;
    cursor: pointer;
    color: white;
    border-color: white;
    font-size: 25px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.nav-button-circle2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #717171;
    cursor: pointer;
    color: white;
    border-color: white;
    font-size: 25px;
    padding-bottom: 3px;
    padding-left: 8px;
}

.nav-button-circle:hover {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #717171;
    cursor: pointer;
}

.window-head {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.grid2 {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
}

.card2 {
    flex: 1 1 calc(10% - 15px);
    max-width: calc(10% - 15px);
    min-width: 75px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
    text-align: center;
}

.card2:hover {
    filter: brightness(1.00);
    transform: scale(1.05);
    cursor: pointer;
}

.card-section-horizontal2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-section-horizontal2 .label2 {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}

.card-section-horizontal2 .value2 {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin-left: auto;
    margin: 0;
}

.card-section {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    margin-left: 10px;
}

.avatar-image {
    width: auto;
    height: 89%;
    margin-bottom: 2px;
    background-color: blue;
}

.avatar-text {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.image-container {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 81%;
    width: 98%;
    box-sizing: border-box;
    background-color: #32B8CD;
    padding-bottom: 1px;
}

.image-container2 {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130%;
    width: 100%;
    box-sizing: border-box;
    background-color: #EAEAEA;
    padding-bottom: 1px;
}

.image-container3 {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #EAEAEA;
    padding-bottom: 1px;
}

.image-container4 {
    font-size: 12px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 101%;
    box-sizing: border-box;
    background-color: #EAEAEA;
    padding-bottom: 1px;
    margin-top: 8px;
}

/* Main container */
.main-container {
    display: flex;
    width: 100%;
    gap: 0px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Left and right containers */
.right-container {
    flex: 1;
    padding: 0px;
    box-sizing: border-box;
    width: 50%;
    margin-right: -5px;
    margin-left: 15px;
}

.left-container {
    flex: 1;
    padding: 0px;
    box-sizing: border-box;
    width: 50%;
    margin-left: 0px;
    margin-right: 10px;
}
